/*-------------------------------------------------------------------------*/
/* # ICOMOON
/*-------------------------------------------------------------------------*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gods-chess:before {
	content: "\e600";
}
.icon-bishop-left:before {
	content: "\e601";
}
.icon-bishop-right:before {
	content: "\e602";
}
.icon-king:before {
	content: "\e603";
}
.icon-knight-right:before {
	content: "\e604";
}
.icon-knight-left:before {
	content: "\e605";
}
.icon-queen:before {
	content: "\e606";
}
.icon-rook-left:before {
	content: "\e607";
}
.icon-rook-right:before {
	content: "\e608";
}
.icon-sword-left:before {
	content: "\e609";
}
.icon-sword-right:before {
	content: "\e60a";
}
.icon-swords:before {
	content: "\e60b";
}
.icon-table:before {
	content: "\e60c";
}
.icon-rooster:before {
	content: "\e60d";
}
.icon-eagle:before {
	content: "\e60e";
}
.icon-zoom-in:before {
	content: "\e60f";
}
.icon-zoom-out:before {
	content: "\e610";
}
.icon-hand:before {
	content: "\e611";
}
.icon-hammer:before {
	content: "\e612";
}
.icon-arrow-right:before {
	content: "\e613";
}
.icon-arrow-left:before {
	content: "\e614";
}
.icon-twitter:before {
	content: "\e615";
}
.icon-facebook-f:before {
	content: "\e616";
}
.icon-linkedin:before {
	content: "\e617";
}
.icon-github-alt:before {
	content: "\e618";
}
.icon-behance:before {
	content: "\e619";
}

