/*-------------------------------------------------------------------------*/
/* # INDEX
/*-------------------------------------------------------------------------*/
.index {
	text-align: center;

	img {
		margin: 10% auto;
		width: 100%;
		max-width: 300px;
		height: auto;
	}
}

h1.us-font {
	font-family: Arial, sans-serif;
}
