/*-------------------------------------------------------------------------*/
/* # CHESS
/*-------------------------------------------------------------------------*/
main.chess {
	text-align: center;

	a.logo {
		position: fixed;
		z-index: 2;
		left: 0;
		top: 18px;
		width: 175px;
		height: auto;
	}

	nav.anhors {
		border: 1px solid #ededed;
		border-width: 1px 0;
		height: auto;
		padding: 20px 0;
		@include transition(all 0.2s $ease-out-quad);

		a {
			display: inline-block;
			width: 200px;

			svg {
				margin: 0 auto 10px;
				display: block;
			}

			img {
				margin: 0 auto 10px;
				display: block;
				width: 84px;
				height: auto;
			}

			span {
				display: block;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
			}

			&.active,
			&:hover {
				color: red;
			}
		}
	}

	#anhors-fixed {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		margin: 0 auto;
		background: #fff;
		@include transform(translateY(-100%));

		&.anhors-fixed {
			padding: 10px 0;
			@include transform(translateY(0));

			a {

				img {
					width: 42px;
				}
			}
		}
	}

	section {
		min-height: 500px;

		&.hero {
			height: 580px;
			background: url(../img/chess/hero-bg.jpg) center no-repeat;
			background-size: cover;
			padding: 60px 0 120px;

			img {
				width: 262px;
				height: auto;
				margin: 0 auto 100px;
			}

			h2 {
				font-size: 25px;
				color: #fff;
				font-weight: 400;
				margin: 0;
			}

			h1 {
				font-size: 120px;
				color: #fff;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0;
			}
		}

		&.table {

		}

		&.figures {

		}

		&.game {

		}

		&.team {
			@include outer-container;
			background: #4c2015;

			div.column {
				@include span-columns(6);
				@include omega();
				width: 50%;

				h3 {
					text-transform: uppercase;
					color: #55261A;
					font-size: 40px;
					margin: 0;
					padding: 2.2em 0;
					font-weight: 500;
					background: #fff;
				}

				&.members {
					background: #55261a;
					@include outer-container;

					article {
						@include span-columns(6);
						@include omega();
						width: 50%;
						padding: 90px 40px 60px;

						img {
							width: 100%;
							height: auto;
							max-width: 220px;
							margin: 0 auto 20px;
							border-radius: 100%;
						}

						h4 {
							color: #fff;
							margin: 0 0 0.5em;
							font-size: 20px;
							font-weight: 500;
						}

						h5 {
							color: rgba(255,255,255,.2);
							margin: 0 0 2em;
							font-size: 20px;
							font-weight: 400;
						}

						p {
							color: #fff;
							margin: 0;
							font-size: 14px;

							a {
								color: #fff;

								&:hover {
									color: rgba(255,255,255,.2);
								}
							}
						}

						nav {
							margin-top: 30px;

							a {
								color: #fff;
								display: inline-block;
								font-size: 25px;
								padding: 4px 8px;

								&:hover {
									color: rgba(255,255,255,.2);
								}
							}
						}
					}
				}

				&.buy {

					h3 {
						background: #f6f6f6;
					}
				}
			}
		}
	}
}


