/*-------------------------------------------------------------------------*/
/* # HOME PAGE
/*-------------------------------------------------------------------------*/
.index {
    text-align: center;
    background: linear-gradient(to top, #fff, #ccc);
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 40px 10px 80px;

    img {
        margin: 0 auto 30px;
        width: 100%;
        height: auto;
        max-width: 180px;
    }
}
