/*-------------------------------------------------------------------------*/
/* # HOME PAGE
/*-------------------------------------------------------------------------*/
.index {
    text-align: center;
    background: linear-gradient(to bottom, #fff, #ccc);
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 40px 10px 80px;

    [class^="icon-"] {
        display: inline-block;
        margin: 0 auto 20px;
        font-size: 200px;
        color: #c3986b;
    }

    img {
        margin: 30px auto;
        width: 100%;
        height: auto;
        max-width: 90px;
    }
}
