$iconSize: 52px;

.social-icon {
    width: $iconSize;
    height: $iconSize;
    display: block;

    use {
        @include transition(fill .2s ease-in-out);
    }
}

a .social-icon use {
    fill: rgba(#fff, .5);

    &:hover {
        fill: #fff;
    }
}

#facebook-icon,
#twitter-icon,
#linkedin-icon,
#behance-icon,
#eagle-icon,
#etsy-icon {
    circle {
        fill: inherit;
    }
    path {
        fill: $firmColor;
    }
}

#eagle-icon {
    path {
        transform-origin: 50% 50% 0;
        @include transform(scale(.8));
    }
}