/*-------------------------------------------------------------------------*/
/* # HOME PAGE
/*-------------------------------------------------------------------------*/
.home {
    text-align: center;
    background: linear-gradient(to bottom, #fff, #ccc);
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 40px 20%;

    [class^="icon-"] {
        display: inline-block;
        margin: 0 auto 20px;
        font-size: 200px;
        color: #c3986b;
    }

    h1, h2, h3 {
        margin: 0 0 .75em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 8px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    hr {
        border-color: #bbb;
    }
}
