---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>God's Chess · Rooster Studio</title>
    <meta name="description" content="God's Chess is the debut product designed by Rooster Studio - the guards beauty from Kyiv, Ukraine">

    <meta property="article:author" content="https://www.facebook.com/rooster.studio">
    <meta property="og:title" content="God's Chess · Rooster Studio">
    <meta property="og:description" content="God's Chess is the debut product designed by Rooster Studio - the guards beauty from Kyiv, Ukraine">
    <meta property="og:url" content="http://rooooster.com/">
    <meta property="og:image" content="{{ page.og-image }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-32.png">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-144.png">
</head>
<body>

    {{ content }}

    <script src="{{ site.baseurl }}/assets/js/bundle.min.js"></script>

    {% include Analytics/google-analytics.html %}
    {% include Analytics/yandex-metrika.html %}

</body>
</html>
