<header>
    <a href="{{ site.baseurl }}/" class="logo">
        <img src="{{ site.baseurl }}/assets/img/chess/header/logo.png" alt="Rooster Studio Logo">
        <h6><span>Rooster</span> Studio</h6>
    </a>

    <nav class="lang">
        <a class="en" href="{{ site.baseurl }}/">en</a>
        <a class="pl" href="{{ site.baseurl }}/pl/">pl</a>
        <a class="ua" href="{{ site.baseurl }}/ua/">ua</a>
        <a class="ru" href="{{ site.baseurl }}/ru/">ru</a>
    </nav>

    <nav id="anhors" class="waypoint anhors anhors-static" data-animate-down="anhors-fixed" data-animate-up="anhors-static">
        <a class="page-scroll" href="#hero"></a>
        <a class="page-scroll" href="#table">
            <span class="icon-table"></span>
            <p>{{ page.Table }}</p>
        </a>
        <a class="page-scroll" href="#figures">
            <span class="icon-knight-right"></span>
            <p>{{ page.ChessPieces }}</p>
        </a>
        <a class="page-scroll" href="#game">
            <span class="icon-swords"></span>
            <p>{{ page.Game }}</p>
        </a>
        <a class="page-scroll" href="#team">
            <span class="icon-rook-right"></span>
            <p>{{ page.Team }}</p>
        </a>
    </nav>
</header>

