
<section id="table" class="table">
	<div class="owl-carousel owl-theme">
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/table/table-01-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/table/table-01-hd.jpg"
				class="fresco"
				data-fresco-group="table-gallery"
				data-fresco-group-options="ui:'inside'">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/table/table-02-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/table/table-02-hd.jpg"
				class="fresco"
				data-fresco-group="table-gallery">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/table/table-03-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/table/table-03-hd.jpg"
				class="fresco"
				data-fresco-group="table-gallery">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/table/table-04-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/table/table-04-hd.jpg"
				class="fresco"
				data-fresco-group="table-gallery">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
	</div>

	<article>
		<img src="{{ site.baseurl }}/assets/img/chess/table/table-photo-00-th.gif" alt="...">
		<h4><span class="icon-hammer"></span> Table Construction and Details</h4>
	</article>

	<article class="photo">
		<img src="{{ site.baseurl }}/assets/img/chess/table/table-photo-01-th.jpg" alt="...">
		<a href="{{ site.baseurl }}/assets/img/chess/table/table-photo-01-hd.jpg"
			class="fresco"
			data-fresco-group="table-gallery">
			<span class="icon-zoom-in"></span>
		</a>
	</article>

	<article class="photo">
		<img src="{{ site.baseurl }}/assets/img/chess/table/table-photo-02-th.jpg" alt="...">
		<a href="{{ site.baseurl }}/assets/img/chess/table/table-photo-02-hd.jpg"
			class="fresco"
			data-fresco-group="table-gallery">
			<span class="icon-zoom-in"></span>
		</a>
	</article>

	<article class="photo">
		<img src="{{ site.baseurl }}/assets/img/chess/table/table-photo-03-th.jpg" alt="...">
		<a href="{{ site.baseurl }}/assets/img/chess/table/table-photo-03-hd.jpg"
			class="fresco"
			data-fresco-group="table-gallery">
			<span class="icon-zoom-in"></span>
		</a>
	</article>
</section>

