<section id="hiw" class="hiw">
    <h4><span class="icon-hand"></span> {{ site.data.l10n.t[page.lang].chess.HowItsworks }}</h4>

    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-01-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-01-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery"
                data-fresco-group-options="ui:'inside'">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-02-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-02-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-03-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-03-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-04-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-04-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-05-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-05-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-06-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-06-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-07-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-07-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-08-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-08-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-09-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-09-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-10-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-10-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}/assets/img/chess/hiw/hiw-11-th.jpg" alt="...">
            <a href="{{ site.baseurl }}/assets/img/chess/hiw/hiw-11-hd.jpg"
                class="fresco"
                data-fresco-group="hiw-gallery">
                <span class="icon-zoom-in"></span>
            </a>
        </div>
    </div>
</section>

