
<section id="figures" class="figures">
	<h3>Chess pieces</h3>

	<article>
		<img src="{{ site.baseurl }}/assets/img/chess/icons/icon-rook-left.png" alt="...">
		<h5>Rook</h5>
	</article>

	<article>
		<img src="{{ site.baseurl }}/assets/img/chess/icons/icon-knight-left.png" alt="...">
		<h5>Knight</h5>
	</article>

	<article>
		<img src="{{ site.baseurl }}/assets/img/chess/icons/icon-bishop-left.png" alt="...">
		<h5>Bishop</h5>
	</article>

	<article>
		<img src="{{ site.baseurl }}/assets/img/chess/icons/icon-queen.png" alt="...">
		<h5>Queen</h5>
	</article>

	<article>
		<img src="{{ site.baseurl }}/assets/img/chess/icons/icon-king.png" alt="...">
		<h5>King</h5>
	</article>

	<article>
		<img src="{{ site.baseurl }}/assets/img/chess/icons/icon-bishop-right.png" alt="...">
		<h5>Bishop</h5>
	</article>

	<article>
		<img src="{{ site.baseurl }}/assets/img/chess/icons/icon-knight-right.png" alt="...">
		<h5>Knight</h5>
	</article>

	<article>
		<img src="{{ site.baseurl }}/assets/img/chess/icons/icon-rook-right.png" alt="...">
		<h5>Rook</h5>
	</article>

	<div class="figure figure-01">
		<img src="{{ site.baseurl }}/assets/img/chess/figures/figure-01-th.jpg" alt="...">
		<a href="{{ site.baseurl }}/assets/img/chess/figures/figure-01-hd.jpg"
			class="fresco"
			data-fresco-group="figures-gallery"
			data-fresco-group-options="ui:'inside'">
			<span class="icon-zoom-in"></span>
		</a>
	</div>

	<div class="figure figure-02">
		<img src="{{ site.baseurl }}/assets/img/chess/figures/figure-02-th.jpg" alt="...">
		<a href="{{ site.baseurl }}/assets/img/chess/figures/figure-02-hd.jpg"
			class="fresco"
			data-fresco-group="figures-gallery">
			<span class="icon-zoom-in"></span>
		</a>
	</div>

	<div class="figure figure-03">
		<img src="{{ site.baseurl }}/assets/img/chess/figures/figure-03-th.jpg" alt="...">
		<a href="{{ site.baseurl }}/assets/img/chess/figures/figure-03-hd.jpg"
			class="fresco"
			data-fresco-group="figures-gallery">
			<span class="icon-zoom-in"></span>
		</a>
	</div>

	<div class="figure figure-04">
		<img src="{{ site.baseurl }}/assets/img/chess/figures/figure-04-th.jpg" alt="...">
		<a href="{{ site.baseurl }}/assets/img/chess/figures/figure-04-hd.jpg"
			class="fresco"
			data-fresco-group="figures-gallery">
			<span class="icon-zoom-in"></span>
		</a>
	</div>
</section>

