
<section id="game" class="game">
	<h3>Game</h3>

	<div class="owl-carousel owl-theme">
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/game/game-01-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/game/game-01-hd.jpg"
				class="fresco"
				data-fresco-group="game-gallery"
				data-fresco-group-options="ui:'inside'">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/game/game-02-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/game/game-02-hd.jpg"
				class="fresco"
				data-fresco-group="game-gallery">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/game/game-03-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/game/game-03-hd.jpg"
				class="fresco"
				data-fresco-group="game-gallery">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/game/game-04-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/game/game-04-hd.jpg"
				class="fresco"
				data-fresco-group="game-gallery">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/game/game-05-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/game/game-05-hd.jpg"
				class="fresco"
				data-fresco-group="game-gallery">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
		<div class="item">
			<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/chess/game/game-06-th.jpg" alt="...">
			<a href="{{ site.baseurl }}/assets/img/chess/game/game-06-hd.jpg"
				class="fresco"
				data-fresco-group="game-gallery">
				<span class="icon-zoom-in"></span>
			</a>
		</div>
	</div>
</section>

