
<section id="team" class="team">
	<div class="members">
		<h3>{{ site.data.l10n.t[page.lang].chess.Team }}</h3>

		<article>
			<figure>
				<img src="{{ site.baseurl }}/assets/img/chess/team/antonpivniuk.jpg" alt="Anton Pivniuk Photo">
			</figure>
			<h4>{{ site.data.l10n.t[page.lang].chess.AntonPivniuk }}</h4>
			<h5>CEO, Designer</h5>
			<p>+380 95 126 26 80</p>
			<p><a href="mailto:antonpivniuk@gmail.com?subject=Hello Ihor">antonpivniuk@gmail.com</a></p>
			<nav>
				<a href="https://www.behance.net/antonpivniuk" target="_blank"><span class="icon-behance"></span></a>
				<a href="https://www.linkedin.com/in/antonpivniuk" target="_blank"><span class="icon-linkedin"></span></a>
				<a href="https://www.facebook.com/apivniuk" target="_blank"><span class="icon-facebook-f"></span></a>
			</nav>
		</article>
		<article>
			<figure>
				<img src="{{ site.baseurl }}/assets/img/chess/team/ihororlovskyi.jpg" alt="Ihor Orlovskyi Photo">
			</figure>
			<h4>{{ site.data.l10n.t[page.lang].chess.IhorOrlovskyi }}</h4>
			<h5>CTO, Designer</h5>
			<p>+380 95 345 25 89</p>
			<p><a href="mailto:ihororlovskyi@gmail.com?subject=Hello Ihor">ihororlovskyi@gmail.com</a></p>
			<nav>
				<a href="http://ihororlovskyi.com/" target="_blank"><span class="icon-eagle"></span></a>
				<a href="https://www.linkedin.com/in/ihororlovskyi" target="_blank"><span class="icon-linkedin"></span></a>
				<a href="https://www.facebook.com/profile.php?id=1617270694" target="_blank"><span class="icon-facebook-f"></span></a>
			</nav>
		</article>

	</div>
	<div class="buy">
		<h3>{{ site.data.l10n.t[page.lang].chess.Contact }}</h3>

		<h4>Rooster Studio</h4>
		<p>{{ site.data.l10n.t[page.lang].chess.KyivUkraine }}</p>
		<nav class="email">
			<a href="mailto:rooooster.com@gmail.com?subject=Hello Rooster Studio Team">rooooster.com@gmail.com</a>
		</nav>
		<nav>
			<a href="https://www.facebook.com/rooster.studio" target="_blank"><span class="icon-facebook-f"></span></a>
			<a href="https://twitter.com/rooster_studio" target="_blank"><span class="icon-twitter"></span></a>
		</nav>
	</div>
</section>

