<section id="team" class="team">
    <div class="members">
        <h3>{{ site.data.l10n.t[page.lang].chess.Team }}</h3>

        <article>
            <div class="image-contur">
                <img src="{{ site.baseurl }}/assets/img/chess/team/antonpivniuk.jpg" alt="Anton Pivniuk Photo">
            </div>
            <h4>{{ site.data.l10n.t[page.lang].chess.AntonPivniuk }}</h4>
            <h5>CEO, Designer</h5>
            <p>+380 95 126 26 80</p>
            <p><a href="mailto:antonpivniuk@gmail.com?subject=Hello Ihor">antonpivniuk@gmail.com</a></p>
            <nav class="social">
                <a href="https://www.behance.net/antonpivniuk" target="_blank">
                    {% include chess/svg/behance.svg %}
                    <span class="tooltip">Behance</span>
                </a>
                <a href="https://www.linkedin.com/in/antonpivniuk" target="_blank">
                    {% include chess/svg/linkedin.svg %}
                    <span class="tooltip">LinkedIn</span>
                </a>
                <a href="https://www.facebook.com/apivniuk" target="_blank">
                    {% include chess/svg/facebook.svg %}
                    <span class="tooltip">Facebook</span>
                </a>
            </nav>
        </article>
        <article>
            <div class="image-contur">
                <img src="{{ site.baseurl }}/assets/img/chess/team/ihororlovskyi.jpg" alt="Ihor Orlovskyi Photo">
            </div>
            <h4>{{ site.data.l10n.t[page.lang].chess.IhorOrlovskyi }}</h4>
            <h5>CTO, Designer</h5>
            <p>+380 95 345 25 89</p>
            <p><a href="mailto:ihororlovskyi@gmail.com?subject=Hello Ihor">ihororlovskyi@gmail.com</a></p>
            <nav class="social">
                <a href="http://ihororlovskyi.com/" target="_blank">
                    {% include chess/svg/eagle.svg %}
                    <span class="tooltip">WebSite</span>
                </a>
                <a href="https://www.linkedin.com/in/ihororlovskyi" target="_blank">
                    {% include chess/svg/linkedin.svg %}
                    <span class="tooltip">LinkedIn</span>
                </a>
                <a href="https://www.facebook.com/profile.php?id=1617270694" target="_blank">
                    {% include chess/svg/facebook.svg %}
                    <span class="tooltip">Facebook</span>
                </a>
            </nav>
        </article>

    </div>
    <div class="buy">
        <h3>{{ site.data.l10n.t[page.lang].chess.Contact }}</h3>

        <h4>Rooster Studio</h4>
        <p>{{ site.data.l10n.t[page.lang].chess.KyivUkraine }}</p>
        <nav class="email">
            <a href="mailto:rooooster.com@gmail.com?subject=Hello Rooster Studio Team">rooooster.com@gmail.com</a>
        </nav>
        <nav class="social">
            <a href="https://www.facebook.com/rooster.studio" target="_blank">
                {% include chess/svg/facebook.svg %}
                <span class="tooltip">Facebook</span>
            </a>
            <a href="https://twitter.com/rooster_studio" target="_blank">
                {% include chess/svg/twitter.svg %}
                <span class="tooltip">Twitter</span>
            </a>
            <a href="https://www.etsy.com/" class="hidden-link" target="_blank">
                {% include chess/svg/etsy.svg %}
                <span class="tooltip">Etsy</span>
            </a>
        </nav>
    </div>
</section>

